  <% if tokujo_image_attached %>
    <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center">
      <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg">
        <%= image_tag tokujo_image %>
      </div>
    </div>
  <% end %>