<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <% if @user.username.blank? %>friend<% else %><%= @user.username %><% end %>
    </p>
    <p>
      No worries. Click the link below and follow the instructions to set a new password.
    </p>
    <%= render partial: "shared/button_solid", locals: { text: "Set a new password now", href: @url } %>
  </body>
</html>