<% content_for :title do %>
  <%= title %>
<% end %>

<div class="mt-8">
  <div class="">
    <section>
      <%= render "shared/directory_table", items: items, columns_to_display: columns_to_display, view_name: view_name, route_path_helper_method: route_path_helper_method, route_path_params: route_path_params %>
    </section>
  </div>
</div>