<div class="px-4 sm:px-0">
  <div class="-mx-4 overflow-scroll shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <%= table_headers(keys)%>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% items&.each do |item| %>
          <tr class="hover:bg-gray-100 cursor-pointer">
            <% url_params = route_path_params.transform_keys(&:to_sym).transform_values { |key| item.send(key) } %>
            <%= td_for_row(send(route_path_helper_method, url_params), item.attributes.values) %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>      