<% if flash[:alert] %>
  <div class="z-50 absolute w-full top-0 bg-yellow-400 p-4">
    <p class="text-base font-medium text-yellow-800"> <%= flash[:alert] %></p>
  </div>
<% elsif flash[:notice] %>
	<div class="z-50 absolute w-full top-0 bg-sky-400 p-4">
		<p class="text-base font-medium text-white"> <%= flash[:notice] %></p>
	</div>
<% end %>