<%# Price should be a formatted Money object. %>
<span>
    <span><%= price %></span>
    <% if with_tax_text %>
        <%# <span>&nbsp(incl. tax)</span> %>
        <span>&nbsp(税込)</span>
    <% end %>
</span> 