<% content_for :title do %>
  Plans
<% end %>

<div class="mt-8 min-h-full flex flex-col justify-center lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-lg">
    <div class="space-y-6">
      <div class="flex items-center space-x-3">
        <p class="text-base">Looks like you've hit the limit for your account. Upgrade your plan. Coming soon.</p>
      </div>
    </div>
  </div>
</div>