<%= link_to route_path do %>
  <div class="h-36 items-center mt-3 sm:mt-0 px-6 py-5 rounded-md border border-slate-400 focus:outline-none hover:bg-black hover:text-white">
    <p class="text-lg font-medium text-current"><%= list_item.public_send(header) %></p>
    <p class="text-sm font-medium text-current">Created on: <%= list_item.public_send(subhead).strftime("%m/%d/%y") %></p>
  </div>
<% end %>