<div class="space-y-12">
  <div class="space-y-8">
    <h1 class="text-xl font-semibold">Your Tokujos</h1>
    <div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4">
      <% @tokujos&.each do |tokujo| %>
        <%= render partial: "list_item", locals: { route_path: dashboard_tokujo_path(tokujo.id), list_item: tokujo, header: "headline", subhead: "created_at" } %>
      <% end %>
      <%= render partial: "add_list_item", locals: { with_max: false, route_path: new_tokujo_path, list_items: @tokujos, list_item_name: "tokujo" } %>
    </div>
  </div>
  <div class="space-y-8">
    <h1 class="text-xl font-semibold">Your Menu Items</h1>
    <div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4">
      <% @menu_items&.each do |menu_item| %>
        <%= render partial: "list_item", locals: { route_path: menu_item_path(menu_item.id), list_item: menu_item, header: "name", subhead: "created_at" } %>
      <% end %>
      <%= render partial: "add_list_item", locals: { with_max: true, route_path: new_menu_item_path, list_items: @menu_items, list_item_name: "menu item" } %>
    </div>
  </div>
</div>