<% content_for :title do %>
  <%= title %>
<% end %>

<div class="mt-8 grid grid-cols-1 gap-6 lg:grid-flow-col-dense lg:grid-cols-3">
  <div class="space-y-6 lg:col-start-1 lg:col-span-2">
    <section>
      <%= render "table", items: items, keys: keys, route_helper_method_to_detail: route_helper_method_to_detail %>
    </section>
  </div>

  <section class="lg:col-start-3 lg:col-span-1">
    <%= render "shared/panel", actions: actions %>
  </section>
</div>