---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method_types[0]=card&amount=10000&currency=USD&customer=cus_PGOf6aInjP7r8Q&off_session=false&confirm=false&metadata[order_id]=311543047&on_behalf_of=acct_1NtjLkRQsD8r1Z10
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9d9ae560-d260-40cd-9e31-49683295b05d
      Original-Request:
      - req_R0RwyWh3j4RnY8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3OTHzSEiEcCKHunc02tSKvzp",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3OTHzSEiEcCKHunc02tSKvzp_secret_i3uugAKYg2MBMVXTgtid1expe",
          "confirmation_method": "automatic",
          "created": 1704002114,
          "currency": "usd",
          "customer": "cus_PGOf6aInjP7r8Q",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "order_id": "311543047"
          },
          "next_action": null,
          "on_behalf_of": "acct_1NtjLkRQsD8r1Z10",
          "payment_method": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 31 Dec 2023 05:55:14 GMT
recorded_with: VCR 6.2.0
