---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: customer=cus_PGOf6aInjP7r8Q&metadata[order_id]=959957393&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&on_behalf_of=acct_1NtjLkRQsD8r1Z10
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 597339d5-87f3-489e-8fab-9ba2d5bb7a70
      Original-Request:
      - req_9bDuYusHgAqmXz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1OTHzSEiEcCKHuncDrUHNZgz",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "cancellation_reason": null,
          "client_secret": "seti_1OTHzSEiEcCKHuncDrUHNZgz_secret_PHriquYGzVp7Esy4kNkA6eOuWUdh4pG",
          "created": 1704002114,
          "customer": "cus_PGOf6aInjP7r8Q",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {
            "order_id": "959957393"
          },
          "next_action": null,
          "on_behalf_of": "acct_1NtjLkRQsD8r1Z10",
          "payment_method": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "single_use_mandate": null,
          "status": "requires_payment_method",
          "usage": "off_session"
        }
  recorded_at: Sun, 31 Dec 2023 05:55:14 GMT
recorded_with: VCR 6.2.0
