<!DOCTYPE html>
<html>
	<%= render partial: "shared/head" %>

  <body>
    <%= render partial: "shared/flash" %>
    <div class="px-3 flex flex-col h-screen">
      <%= render partial: "shared/navbar_for_patrons" %>
      <main>
        <%= render partial: "shared/main_public" %>
      </main>
      <footer class="mt-auto">

      </footer>
    </div>
  </body>
</html>