<% content_for :title do %>
  Account
<% end %>

<div class="mt-8 grid grid-cols-1 gap-6 lg:grid-flow-col-dense lg:grid-cols-3">
  <ul class="space-y-2">
    <li class="py-2 leading-none">
      <%= link_to "Receive payments", accounts_cards_path, class:"text-base" %>
    </li>
    <li class="py-2 leading-none">
      <%= link_to "Cancel this account", accounts_cancellations_new_path, class:"text-base" %>
    </li>
  </ul>
</div>