<% content_for :title do %>
  プライバシーポリシー
<% end %>

<div class="mt-8 grid grid-cols-1 gap-6 lg:grid-flow-col-dense">
  <div class="space-y-6 lg:col-start-1 lg:col-span-2">

      <div class='space-y-2'>
        <h1 class='text-xl'>個人情報の取り扱いについて</h1>

        <p class='pt-4'>ablejo（以下「当社」という）は、当プライバシーポリシーを提示し、それに準拠して提供されるサービス（以下「本サービス」という）の利用企業・団体等（以下「サービス利用者」という）のプライバシーを尊重し、サービス利用者の個人情報の管理に細心の注意を払い、これを取り扱うものとします。</p>
      </div>

      <div class='space-y-2'>
       <h1 class='text-xl'>個人情報の利用目的</h1>

        <p class='pb-3'>当社は、当社が取得した個人情報について、法令に定める場合又はサービス利用者本人の同意を得た場合を除き、以下に定める利用目的の達成に必要な範囲を超えて利用することはありません。</p>

        <ul class='list-disc p-3 pl-6'>
          <li>サービス利用者の個人認証及び本サービスの提供</li>
          <li>本サービスの利用に伴う問い合わせメール・連絡・メールマガジン・ＤＭ・各種お知らせ等の配信・送付</li>
          <li>サービス利用者の承諾・申し込みに基づく、本サービス利用企業等への個人情報の提供</li>
          <li>サービス利用者に対し、より使いやすく・より価値ある情報の提供</li>
          <li>キャンペーン・アンケート・モニター・取材等の実施</li>
          <li>本サービスに関するご意見、お問い合わせの確認・回答</li>
          <li>その他、お客様との取引・契約の適切かつ円滑な履行</li>
        </ul>
      </div>

      <div class='space-y-2'>
       <h1 class='text-xl'>個人情報の第三者への提供</h1>

        <p class='pb-3'>当社は、法令で定める場合を除き、本人の同意に基づき取得した個人情報を、本人の事前の同意なく第三者に提供することはありません。</p>
      </div>

      <div class='space-y-2'>
       <h1 class='text-xl'>個人情報処理の外部委託</h1>

        <p class='pb-3'>当社は、個人情報の取扱いの全部又は一部を第三者に委託する場合、その適格性を十分に審査し、その取扱いを委託された個人情報の安全管理が図られるよう、委託を受けた者に対する必要かつ適切な監督を行うこととします。</p>
      </div>

      <div class='space-y-2'>
       <h1 class='text-xl'>個人情報の開示・訂正等</h1>
        <p class='pb-3'>当社は、本人の求めによる個人情報の開示、訂正については、法令に従いこれを行うとともに、ご意見、ご相談に関して適切に対応します。</p>
      </div>

      <div class='space-y-2'>
        <h1 class='text-xl'>個人情報の廃棄</h1>
        <p class='pb-3'>当社は、個人情報の利用目的に照らしその必要性が失われたときは、個人情報を消去又は廃棄するものとし、当該消去及び廃棄は、外部流失等の危険を防止するために必要かつ適切な方法により、業務の遂行上必要な限りにおいて行います。</p>
      </div>

      <div class='space-y-2'>
        <h1 class='text-xl'>個人情報の取扱いの改善・見直し</h1>
        <p class='pb-3'>当社は、個人情報の取扱い、管理体制及び取組みに関する点検を実施し、継続的に改善・見直しを行います。</p>
      </div>

      <div class='space-y-2'> 
        <h1 class='text-xl'>プライバシーポリシーの変更</h1>
        <p class='pb-3'>当社は、法令等の定めがある場合を除き、プライバシーポリシーを随時変更することができるものとします</p>
      </div>

      <div class='space-y-2'> 
        <h1 class='text-xl'>お問い合わせ窓口</h1>
        <p class='pb-3'>本ポリシーに関するお問い合わせは、代表もしくは本サービス窓口までご連絡ください。</p>
      </div>
  </div>
</div>